.phase-one {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 30px;
  border: 1px solid gray;
  height: 100%;
}

.phase__one__game-info {
  display: flex;
  flex-direction: column;
  height: 55%;
  gap: 1rem;
}
