.button {
  background-color: var(--button-color);
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  border: none;
  &:disabled {
    background-color: var(--disable-button);
    cursor: not-allowed;
  }
}
