.game {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 30px;
  border: 1px solid gray;
  height: 100%;
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.game-info div {
  font-size: 20px;
  margin-bottom: 10px;
}

.window {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
