.navbar {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
    li {
      background-color: var(--button-color);
      padding: 0.7rem;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
